.module_banner img{
width: 100%;
}
.module_banner  .swiper-pagination span{ width: 16px; height:16px; }
.module_banner  .swiper-pagination-bullet{ opacity: 1;background: #fff; }
.module_banner .swiper-pagination-bullet-active{
	background: #24d298
}