 .tool_bar {
     position: fixed;
     bottom: 0;
     width: 100%;
     height: 70px;/*no*/
     left: 0;
     box-sizing: border-box;
     box-shadow: 0 0 10px rgba(0, 0, 0, .8);/*no*/
     padding-top: 16px;/*no*/
     background: #fff;
 }
 .tool_bar a {
     width: 20%;
     display: inline-block;
     height: 10px;/*no*/
     text-align: center;
     position: relative;
     float: left;
     color: #888;
     padding-top: 34px;/*no*/
     box-sizing: border-box;
     text-decoration: none;
 }
 .tool_bar a:before {
     content: '';
     position: absolute;
     width: 26px;/*no*/
     height: 26px;/*no*/
     background: url("../../assets/img/bar_home.png");
     background-size: 100% 100%;
     top: 0;
     left: 0;
     right: 0;
     margin: 0 auto;
 }
 .tool_bar a.bar_home:before {
     background: url("../../assets/img/bar_home.png");
     background-size: 100% 100%;
 }
 .tool_bar a.bar_home.active:before {
     background: url("../../assets/img/bar_home_active.png");
     background-size: 100% 100%;
     color: #29c0c0;
 }
 .tool_bar a.bar_activity:before {
     background: url("../../assets/img/bar_activity.png");
     background-size: 100% 100%;
 }
 .tool_bar a.bar_activity.active:before {
     background: url("../../assets/img/bar_activity_active.png");
     background-size: 100% 100%;
     color: #29c0c0;
 }
 .tool_bar a.bar_flow:before {
     background: url("../../assets/img/bar_flow.png");
     background-size: 100% 100%;
 }
 .tool_bar a.bar_flow.active:before {
     background: url("../../assets/img/bar_flow_active.png");
     background-size: 100% 100%;
     color: #29c0c0;
 }
 .tool_bar a.bar_server:before {
     background: url("../../assets/img/bar_server.png");
     background-size: 100% 100%;
 }
 .tool_bar a.bar_server.active:before {
     background: url("../../assets/img/bar_server_active.png");
     background-size: 100% 100%;
     color: #29c0c0;
 }
 .tool_bar a.bar_me:before {
     background: url("../../assets/img/bar_me.png");
     background-size: 100% 100%;
 }
 .tool_bar a.bar_me.active:before {
     background: url("../../assets/img/bar_me_active.png");
     background-size: 100% 100%;
     color: #29c0c0;
 }
 .tool_bar .tool_open {
     width: 30%;
     position: fixed;
     bottom: 0;
     left: 0;
     right: 0;
     margin: 0 auto;
 }
 .tool_bar .tool_close {
     width: 48px;/*no*/
     position: fixed;
     right: 0;
     bottom: 70px;/*no*/
 }
 .tool_bar .tool_close img {
     width: 100%;
 }
 .tool_bar .tool_open img {
     width: 100%;
 }
 .tool_bar.close .tool_close {
     display: none;
 }
 .tool_bar.close a {
     display: none;
     background: none;
 }
 .tool_bar.close {
     box-shadow: none !important;
     height: auto;
 }
 .tool_bar.open .tool_open {
     display: none;
 }